.simulator {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: auto;
}

.simulatorIcons {
    position: absolute;
    right: 0%;
    bottom: 5%;
    height: 15%;
    width: 12.5%;
}

.simulatorIcon {
    width: 100%;
    height: 25%;
}